openapi: 3.0.1
info:
  title: Monica CRM API
  description: API for Monica CRM
  version: "0.1"
servers:
- url: https://prm.harleypig.com/api
paths:
  /activitytypecategories:
    get:
      description: Get existing categories.
      parameters:
      - name: page
        in: query
        description: "The page number being requested, defaults to 1"
        required: false
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          default: 1
        example: 1
      - name: limit
        in: query
        description: "The number of entries per page, defaults to 10, maximum is 100"
        required: false
        style: form
        explode: true
        schema:
          maximum: 100
          minimum: 1
          type: integer
          default: 10
        example: 50
      responses:
        "200":
          description: Response Body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
              examples:
                page and limit set to 1:
                  value: "{\"data\":[{\"id\":1,\"object\":\"activityTypeCategory\"\
                    ,\"name\":\"Simple activities\",\"account\":{\"id\":1},\"created_at\"\
                    :null,\"updated_at\":null}],\"links\":{\"first\":\"https:\\/\\\
                    /prm.harleypig.com\\/api\\/activitytypecategories?page=1\",\"\
                    last\":\"https:\\/\\/prm.harleypig.com\\/api\\/activitytypecategories?page=4\"\
                    ,\"prev\":null,\"next\":\"https:\\/\\/prm.harleypig.com\\/api\\\
                    /activitytypecategories?page=2\"},\"meta\":{\"current_page\":1,\"\
                    from\":1,\"last_page\":4,\"links\":[{\"url\":null,\"label\":\"\
                    \\u276e Previous\",\"active\":false},{\"url\":\"https:\\/\\/prm.harleypig.com\\\
                    /api\\/activitytypecategories?page=1\",\"label\":\"1\",\"active\"\
                    :true},{\"url\":\"https:\\/\\/prm.harleypig.com\\/api\\/activitytypecategories?page=2\"\
                    ,\"label\":\"2\",\"active\":false},{\"url\":\"https:\\/\\/prm.harleypig.com\\\
                    /api\\/activitytypecategories?page=3\",\"label\":\"3\",\"active\"\
                    :false},{\"url\":\"https:\\/\\/prm.harleypig.com\\/api\\/activitytypecategories?page=4\"\
                    ,\"label\":\"4\",\"active\":false},{\"url\":\"https:\\/\\/prm.harleypig.com\\\
                    /api\\/activitytypecategories?page=2\",\"label\":\"Next \\u276f\"\
                    ,\"active\":false}],\"path\":\"https:\\/\\/prm.harleypig.com\\\
                    /api\\/activitytypecategories\",\"per_page\":\"1\",\"to\":1,\"\
                    total\":4}}"
    post:
      description: Create an activity type category
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/activitytypecategories_body'
            examples:
              Request Body:
                value: "{ \"name\": \"my awesome category type\" }"
      responses:
        "200":
          description: Response Body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
              examples:
                Response Body:
                  value: "{\"data\":{\"id\":5,\"object\":\"activityTypeCategory\"\
                    ,\"name\":\"my awesome category type\",\"account\":{\"id\":1},\"\
                    created_at\":\"2021-07-26T16:03:43Z\",\"updated_at\":\"2021-07-26T16:03:43Z\"\
                    }}"
  /activitytypecategories/{ActivityTypeCategoryID}:
    get:
      description: Get activity type specified by ActivityTypeCategoryID
      parameters:
      - name: ActivityTypeCategoryID
        in: path
        description: ActivityTypeCategory ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
        example: 1
      responses:
        "200":
          description: Response when request for ActivityTypeCategory is successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
              examples:
                Response Body:
                  value: "{\"data\":{\"id\":1,\"object\":\"activityTypeCategory\"\
                    ,\"name\":\"Simple activities\",\"account\":{\"id\":1},\"created_at\"\
                    :null,\"updated_at\":null}}"
    put:
      description: Modify an activity type category specified by ActivityTypeCategoryID
      parameters:
      - name: ActivityTypeCategoryID
        in: path
        description: ActivityTypeCategory ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
        example: 1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/activitytypecategories_ActivityTypeCategoryID_body'
            examples:
              Request Body:
                value: "{ \"name\": \"My Awesome Category Type\" }"
      responses:
        "200":
          description: Response Body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
              examples:
                Response Body:
                  value: "{\"data\":{\"id\":5,\"object\":\"activityTypeCategory\"\
                    ,\"name\":\"My Awesome Category Type\", \"account\":{\"id\":1},\"\
                    created_at\":\"2021-07-26T16:03:43Z\",\"updated_at\":\"2021-07-26T16:09:52Z\"\
                    }}"
    delete:
      description: Delete an activity type category specified by ActivityTypeCategoryID
      parameters:
      - name: ActivityTypeCategoryID
        in: path
        description: ActivityTypeCategory ID
        required: true
        style: simple
        explode: false
        schema:
          minimum: 1
          type: integer
        example: 1
      responses:
        "200":
          description: Response Body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
              examples:
                Response Body:
                  value: "{\"deleted\":true,\"id\":5}"
components:
  schemas:
    inline_response_200_1_data:
      type: object
      properties:
        updated_at:
          type: string
        name:
          type: string
        created_at:
          type: string
        id:
          type: integer
        account:
          $ref: '#/components/schemas/inline_response_200_1_data_account'
        object:
          type: string
    inline_response_200_meta_links:
      type: object
      properties:
        active:
          type: boolean
        label:
          type: string
        url: {}
    inline_response_200_1:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_1_data'
    inline_response_200:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/inline_response_200_data'
        meta:
          $ref: '#/components/schemas/inline_response_200_meta'
        links:
          $ref: '#/components/schemas/inline_response_200_links'
    inline_response_200_2:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/inline_response_200_data'
    inline_response_200_3:
      type: object
      properties:
        deleted:
          type: boolean
        id:
          type: integer
    activitytypecategories_body:
      type: object
      properties:
        name:
          type: string
    inline_response_200_links:
      type: object
      properties:
        next:
          type: string
        last:
          type: string
        prev: {}
        first:
          type: string
    inline_response_200_1_data_account:
      type: object
      properties:
        id:
          type: integer
    inline_response_200_data:
      type: object
      properties:
        updated_at: {}
        name:
          type: string
        created_at: {}
        id:
          type: integer
        account:
          $ref: '#/components/schemas/inline_response_200_1_data_account'
        object:
          type: string
    inline_response_200_meta:
      type: object
      properties:
        path:
          type: string
        per_page:
          type: string
        total:
          type: integer
        last_page:
          type: integer
        from:
          type: integer
        links:
          type: array
          items:
            $ref: '#/components/schemas/inline_response_200_meta_links'
        to:
          type: integer
        current_page:
          type: integer
    activitytypecategories_ActivityTypeCategoryID_body:
      type: object
      properties:
        summary:
          type: string
        activity_type_id:
          type: integer
        name:
          type: string
        happened_at:
          type: string
        description:
          type: string
        contacts:
          type: array
          items:
            type: integer
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://yourauthurl.com
          scopes:
            scope_name: Enter your scopes here
